.menu>ul>li{
  position: relative;
  display: inline-block;
  left: 100px;
}


/* menu ngang */
.menu>ul>li>a{        
  display: block;
  text-decoration: none;
  font-size: larger;
  color: black;
  padding: 0 40px;
  line-height: 40px;
  font-family:'Ek Mukta';
}
.menu>ul{
  font-weight: bold;
  height: 40px;
  padding: 0px;
  margin: 0px;
  list-style: none;
  border-radius: 3px;
  background-color:#b9b5b5;
}
.menu>ul>li>a:hover{
  border-radius: 5px;
  background-color: #184d47;
  color: white;
}



/* menu con */

.menu ul ul{
  display: none;
  top: 40px;
  position: absolute;
  list-style: none;
  border-radius: 3px;
  width: 200px;
  background-color: white;
  box-shadow: 0 0 10px gray;
  z-index: 5;
}
.menu ul ul a{
  display: block;
  line-height: 30px;
  color: black;
  text-decoration: none;
  font-family:'Ek Mukta';
  padding: 0 10px;
}
.menu>ul>li:hover>ul{
  display: block;
}
.menu ul ul a:hover{
  background-color: #487e95;
  color: white;
  border-radius: 5px;
}

.menu{
  position: relative;
}
.search>input{
  border-radius: 20px;
  height: 30px;
  width: 300px;
  position: absolute;
  right: 60px;
  top: 4px;
}
.search>button{
  width: 30px;
  height: 30px;
  border-radius: 40px;
  position: absolute;
  right: 20px;
  top: 6px;
}